<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PortfolioDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Portfolio Configuration -->
    <add key="FullName" value="Khadimul Islam Mahi" />
    <add key="Email" value="mahi.jess9t@gmail.com" />
    <add key="Phone" value="+880 1X XX XX XX XX" />
    <add key="Institution" value="Khulna University of Engineering and Technology (KUET)" />
    <add key="Department" value="Computer Science and Engineering" />
    <add key="CurrentYear" value="3rd Year" />
    
    <!-- Social Media Profiles -->
    <add key="LinkedInProfile" value="https://www.linkedin.com/in/k-i-mahi-29436a282/" />
    <add key="GitHubProfile" value="https://github.com/k-i-mahi" />
    <add key="FacebookProfile" value="https://www.facebook.com/k.i.mahi.600019" />
    <add key="InstagramProfile" value="https://www.instagram.com/k.i.mahi/" />
    <add key="KaggleProfile" value="https://kaggle.com/khadimulmahi" />
    <add key="ChessProfile" value="https://www.chess.com/member/k_i_mahi" />
    <add key="LichessProfile" value="https://lichess.org/@/k_i_mahi" />
    
    <!-- Competitive Programming Platforms -->
    <add key="CodeforcesHandle" value="being_mysterious" />
    <add key="CodeforcesProfile" value="https://codeforces.com/profile/being_mysterious" />
    <add key="CodeChefHandle" value="k_i_mahi" />
    <add key="CodeChefProfile" value="https://www.codechef.com/users/k_i_mahi" />
    <add key="CSESHandle" value="potassium_iodide" />
    <add key="CSESProfile" value="https://cses.fi/user/185082" />
    <add key="AtCoderHandle" value="potassium_iodide" />
    <add key="AtCoderProfile" value="https://atcoder.jp/users/potassium_iodide" />
    
    <!-- Portfolio Settings -->
    <add key="ShowContactForm" value="true" />
    <add key="EnableAnimations" value="true" />
    <add key="DefaultTheme" value="light" />
    <add key="ShowStatistics" value="true" />
    <add key="EnableParticles" value="true" />
    
    <!-- Admin Panel Settings -->
    <add key="AdminPanelEnabled" value="true" />
    <add key="RequireAdminAuth" value="false" />
    <add key="AdminUsername" value="admin" />
    <add key="AdminPassword" value="portfolio2024" />
    
    <!-- Application Settings -->
    <add key="IsDevelopment" value="true" />
    <add key="EnableLogging" value="true" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="10240" executionTimeout="300" />
    
    <!-- Session Configuration -->
    <sessionState mode="InProc" timeout="30" cookieless="false" />
    
    <!-- Authentication Configuration -->
    <authentication mode="Forms">
      <forms loginUrl="~/Admin/Login.aspx" timeout="30" name=".ASPXAUTH" />
    </authentication>
    
    <!-- Authorization -->
    <authorization>
      <allow users="*" />
    </authorization>
    
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    
    <!-- Error Handling -->
    <customErrors mode="Off" />
    
    <!-- Globalization Settings -->
    <globalization culture="en-US" uiCulture="en-US" />
    
    <!-- Security Settings -->
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <trust level="Full" />
  </system.web>
  
  <!-- Admin Panel Access -->
  <location path="Admin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  
  <!-- IIS Configuration -->
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>
    
    <defaultDocument>
      <files>
        <clear />
        <add value="DefaultSimple.aspx" />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
</configuration>